{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                <div class="content-box shadow border rounded p-5 text-center bg-black">
                    <h1 class="display-4 logo-font mb-4 text-white">
                        Get this in ya!
                    </h1>
                    <div class="my-5">
                        <h4 class="mb-4 text-white">
                            Welcome to Junk Trader
                        </h4>
                        <a href="{% url 'collectables' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Play Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

