{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                <div class="content-box p-5 text-center">
                    <h1 class="display-4 logo-font mb-4 text-white">
                        Welcome to JUNK TRADER
                    </h1>
                    <div class="my-5">
                        {% if request.user.is_authenticated %}
                        <h4 class="mb-4 text-white">
                            Choose Difficulty:
                        </h4>
                        
                        <form id="gameForm" method="post" action="{% url 'start_game' %}" onsubmit="return validateForm()">
                            {% csrf_token %}
                            <div class="form-row justify-content-center">
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="radio" name="difficulty" id="easyRadio" value="easy">
                                    <label class="form-check-label" for="easyRadio"> Easy   </label>
                                </div>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="radio" name="difficulty" id="mediumRadio" value="medium">
                                    <label class="form-check-label" for="mediumRadio"> Medium   </label>
                                </div>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="radio" name="difficulty" id="difficultRadio" value="difficult">
                                    <label class="form-check-label" for="difficultRadio"> Difficult   </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-red btn-lg mt-4">Play Game</button>
                        </form>
                        {% else %}
                        <p class="text-white">Please <a href="{% url 'account_login' %}">Login</a> to start the game.</p>
                        {% endif %}
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#howToPlayModal">
                        How to Play
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="howToPlayModal" tabindex="-1" role="dialog" aria-labelledby="howToPlayModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="howToPlayModalLabel">How to Play</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <ol>
                        <li>Start with Funds: Begin the game with a set amount of funds in your virtual wallet.</li>
                        <li>Explore Markets: Navigate through virtual markets filled with a variety of collectables waiting to be discovered.</li>
                        <li>Buy and Sell: Use your funds to buy collectables when prices are low and sell them when prices are high to make a profit.</li>
                        <li>Watch Trends: Keep an eye on market trends and fluctuations in item prices to make strategic decisions.</li>
                        <li>Manage Backpack: Be mindful of your backpack capacity – you can only carry a limited number of items at a time.</li>
                        <li>Maximize Profits: Make shrewd investments and take calculated risks to build your collection and increase your wealth.</li>
                        <li>Race Against Time: Time is limited, with each passing day bringing new challenges and opportunities.</li>
                        <li>Achieve Victory: Rise through the ranks of collectors and emerge victorious by amassing the most wealth before the game ends.</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validateForm() {
            var radios = document.getElementsByName("difficulty");
            var selected = false;
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    selected = true;
                    break;
                }
            }
            if (!selected) {
                alert("Please select a difficulty!");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
