{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                <div class="content-box p-5 text-center">
                    <h1 class="display-4 logo-font mb-4 text-white">
                        Welcome to JUNK TRADER
                    </h1>
                    <div class="my-5">
                        <h4 class="mb-4 text-white">
                            Trade you way to freedom!
                        </h4>
                        <form method="post" action="{% url 'start_game' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-red btn-lg">Play Game</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

