{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="box-profile">
                <div class="card-header text-white"><p>Profile</p></div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="username" class="col-md-4 text-md-right text-white"><p>Username:</p></label>
                        <div class="col-md-6">
                            <p>{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-4 text-md-right text-white"><p>Email Address:</p></label>
                        <div class="col-md-6">
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'account_email' %}" class="btn btn-primary">Change Email</a>
                        </div>
                    </div>
                    <!-- Scores -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right text-white"><p>Your Scores:</p></label>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for score_entry in user_scores %}
                                        <tr>
                                            <td>{{ score_entry.date }}</td>
                                            <td>{{ score_entry.scores }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Top Scores -->
                <div class="box-profile mt-3">
                    <div class="card-header text-white"><p>Top Scores</p></div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Date</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for top_score in top_scores %}
                                    <tr>
                                        <td>{{ top_score.user.username }}</td>
                                        <td>{{ top_score.date }}</td>
                                        <td>{{ top_score.scores }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-success">Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
