{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--  <div class="overlay"></div> -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Backpack</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if backpack_items %}
            <div class="rounded shadow-sm border p-3 bg-black">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Item</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in backpack_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.collectable.image.url }}" width="100" height="100">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.collectable.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.collectable.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <p class="my-0">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.collectable.price }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="pt-5 text-right">
                <h6><strong>Backpack Total: ${{ total|floatformat:2 }}</strong></h6>
                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
            </div>
            {% else %}
            <p class="lead mb-5">Your backpack is empty.</p>
            <a href="{% url 'collectables' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
