{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--  <div class="overlay"></div> -->
<div class="container mb-2 backpack-text">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Backpack</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if backpack_items %}
            <div class=" box p-3">
                <div class=" pt-5 text-center p-1 bg-black">
                    <h4 class="mb-2 "><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    <p class="my-4">
                        {% if total_quantity %}
                         Items: {{ total_quantity }} / 100
                        {% else %}
                            0 items
                        {% endif %}
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="text-white">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Item</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in backpack_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <div class="image-container">
                                    {% if item.collectable.glb_file %}
                                        <model-viewer id="neutral-demo-{{ item.item_id }}"
                                                      src="{{ item.collectable.glb_file.url }}"
                                                      alt="{{ item.collectable.name }}"
                                                      camera-controls
                                                      auto-rotate
                                                      style="width: 100%; height: 100px;" 
                                        </model-viewer> 
                                    {% endif %}
                                </div>
                            </td>
                            
                            <td class="py-3">
                                <p class="my-0 text-white"><strong>{{ item.collectable.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-white">${{ item.collectable.price }}</p>
                            </td>
                            <td class="py-3 w-25 text-white">
                                <form class="form update_form" method="POST" action="{% url 'adjust_backpack' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-red rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-red rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Buy</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Sell</small></a>
                            </td>
                            <td class="py-3">
                                <!-- Subtotal calculated dynamically using JavaScript -->
                                <p class="my-0 text-white" id="subtotal_{{ item.item_id }}"></p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
          
            {% else %}
            <p class="lead mb-5">Your backpack is empty.</p>
            <a href="{% url 'collectables' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Trading</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'collectables/includes/quantity_input_script.html' %}

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/backpack/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // Calculate subtotal dynamically
    {% for item in backpack_items %}
    var quantity = {{ item.quantity }};
    var price = {{ item.collectable.price }};
    var subtotal = quantity * price;
    $('#subtotal_{{ item.item_id }}').text('$' + subtotal.toFixed(2));
    {% endfor %}


</script>

{% endblock %}

