{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Fixed Panel -->
            <div class="fixed-panel">
                {% include 'includes/fixed_panel.html' %}
            </div>
        </div>
        <div class="col-md-9"> 
            <!-- Main content goes here -->
        </div>
    </div>
</div>

<div class="container mb-2 backpack-text content-column">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Backpack</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if backpack_items %}
            <div class="box p-3">
                <div class="pt-5 text-center p-1 bg-black">
                    <h4 class="mb-2 "><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    <p class="my-4">
                        {% if total_quantity %}
                         Items: {{ total_quantity }} / 100
                        {% else %}
                            0 items
                        {% endif %}
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="text-white">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Item</th>
                                <th scope="col">Price</th>
                                <th scope="col">Owned</th>
                                <th scope="col">Buy/Sell</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in backpack_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <div class="image-container">
                                    {% if item.collectable.glb_file %}
                                        <model-viewer id="neutral-demo-{{ item.item_id }}"
                                                      src="{{ item.collectable.glb_file.url }}"
                                                      alt="{{ item.collectable.name }}"
                                                      
                                                      auto-rotate
                                                      style="width: 100%; height: 100px;" 
                                        </model-viewer> 
                                    {% endif %}
                                </div>
                            </td>
                            
                            <td class="py-3">
                                <p class="my-0 text-white"><strong>{{ item.collectable.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-white">${{ item.collectable.price }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-white">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3 w-25 text-white">
                                <!-- Button trigger modal for Buy -->
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#buyModal{{ item.item_id }}">
                                    Buy
                                </button>
                                
                                <!-- Button trigger modal for Sell -->
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sellModal{{ item.item_id }}">
                                    Sell
                                </button>
                            </td>
                            
                            <td class="py-3">
                                <!-- Subtotal calculated dynamically using JavaScript -->
                                <p class="my-0 text-white" id="subtotal_{{ item.item_id }}"></p>
                            </td>
                        </tr>

                      <!-- Buy Modal -->
                        <div class="modal fade" id="buyModal{{ item.item_id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel{{ item.item_id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="buyModalLabel{{ item.item_id }}">Buy {{ item.collectable.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="modal-form" method="POST" action="{% url 'adjust_backpack' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <p>Owned: {{ item.quantity }}</p>
                                            <div class="form-group">
                                                <label for="buyQuantity{{ item.item_id }}">Enter Quantity to Buy:</label>
                                                <input type="number" class="form-control" id="buyQuantity{{ item.item_id }}" name="quantity" min="0" max="99">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Buy</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Sell Modal -->
                    <div class="modal fade" id="sellModal{{ item.item_id }}" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel{{ item.item_id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="sellModalLabel{{ item.item_id }}">Sell {{ item.collectable.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                item id is {{ item.item_id }}
                                <form class="modal-form" method="POST" action="{% url 'sell_item' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p>Owned: {{ item.quantity }}</p>
                                        <div class="form-group">
                                            <label for="sellQuantity{{ item.item_id }}">Enter Quantity to Sell:</label>
                                            <input type="number" class="form-control" id="sellQuantity{{ item.item_id }}" name="quantity" min="0" max="{{ item.quantity }}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Sell</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-12">
                <a href="{% url 'collectables' %}" class="btn btn-outline-black rounded-0 mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Trading</span>
                </a>
            </div>
          
            {% else %}
            <p class="lead mb-5">Your backpack is empty.</p>
            <a href="{% url 'collectables' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Trading</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>

        // Calculate subtotal 
        {% for item in backpack_items %}
        var quantity_{{ item.item_id }} = {{ item.quantity }};
        var price_{{ item.item_id }} = {{ item.collectable.price }};
        var subtotal_{{ item.item_id }} = quantity_{{ item.item_id }} * price_{{ item.item_id }};
        $('#subtotal_{{ item.item_id }}').text('$' + subtotal_{{ item.item_id }}.toFixed(2));
        {% endfor %}
</script>
{% endblock %}
