html {
    height: 100%;
}

body {
    background: url('/media/bg_image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    margin-left: 2%;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(255, 0, 0);
    color: white;
    min-width: 260px;
}

.btn-red {
    background: rgb(254, 0, 0);
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: black;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.list-text {
    color: white;
}


.list-text:hover {
    color: rgb(59, 59, 144);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.backpack-text {
    color: white;
}

.main-logo-link {
    margin-bottom: -60px;
}

#delivery-banner {
    border: 1px solid red;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
    border-radius: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: x-large;
    font-style: normal;
}

.box {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    background-color: #00000093;
}

#delivery-banner {
    border: 1px solid red;
    background-color: #000000;
    border-radius: 50px;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#delivery-banner .list-inline-item {
    flex: 1;
    max-width: 25%;
    white-space: nowrap;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.table th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.table tbody + tbody {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.modal-content {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    background-color: #00000093;
}

.modal-header {
    background-color: #ff0000;
    color: #ffffff;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #00000093;
    border-top: none;
}

.panel-top {
    margin-top: 200px;
}

.fixed-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    background-color: #00000093;
    overflow-y: auto;
}

.content-column {
    padding-left: 5%;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    padding: 10px;
}

.custom_toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

   /* Center content box */
.content-box2 {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; /* Adjust the maximum width as needed */
    align-items: center;
    color: white;
    border-color: red;
    background-color: rgba(0, 0, 0, 0.601);
    text-align: right;
}


.content-box2 input[type="text"],
.content-box2 input[type="email"],
.content-box2 input[type="password"],
.content-box2 textarea {
    background-color: transparent;
    border: 1px solid #ccc; 
    color: white; 
}


@media (max-width: 767px) {
    #delivery-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        margin: 0;
        border-radius: 0;
    }

    #delivery-banner .list-inline-item {
        max-width: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 767px) {
    .fixed-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        overflow-y: auto;
        z-index: 1000;
    }

    .location-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .location-list li {
        flex: 0 0 auto;
        padding: 5px;
    }

    .location-text {
        display: none;
    }

    h1 {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
