{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Fixed Panel -->
            <div class="fixed-panel">
                {% include 'includes/fixed_panel.html' %}
            </div>
        </div>
        <div class="col-md-9"> 
            <!-- Main content goes here -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="margin-right: 20px;">
            <div class="card box my-5">
                <div class="image-container" >
                    {% if upgrade.glb_image %}
                        <model-viewer id="neutral-demo"
                                      src="{{ upgrade.glb_image.url }}"
                                      alt="{{ upgrade.name }}"
                                      camera-controls
                                      auto-rotate
                                      style="width: 100%; height: 400px;" 
                        </model-viewer> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card box product-details-container mb-5 mt-md-5">
                <div class="card-body text-white text-center">
                    <p class="card-title mb-0">{{ upgrade.name }}</p>
                    <p class="lead mb-0 font-weight-bold">${{ upgrade.price }}</p>
                    <p class="card-text mt-3">{{ upgrade.description }}</p>
                    
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buyModal{{ upgrade.id }}">
                        Buy
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sellModal{{ upgrade.id }}">
                        Sell
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buy Modal -->
<div class="modal fade" id="buyModal{{ upgrade.id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel{{ upgrade.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyModalLabel{{ upgrade.id }}">Buy {{ upgrade.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-form" method="POST" action="{% url 'add_to_backpack' upgrade.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Adjust this part according to your upgrade model fields -->
                    <div class="form-group">
                        <label for="buyQuantity{{ upgrade.id }}">Enter Quantity to Buy:</label>
                        <input type="number" class="form-control" id="buyQuantity{{ upgrade.id }}" name="quantity" min="0" max="99">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Buy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Sell Modal -->
<div class="modal fade" id="sellModal{{ upgrade.id }}" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel{{ upgrade.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="sellModalLabel{{ upgrade.id }}">Sell {{ upgrade.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="modal-form" method="POST" action="{% url 'sell_item' upgrade.id %}">
            {% csrf_token %}
            <div class="modal-body">
                <!-- Adjust this part according to your upgrade model fields -->
                <div class="form-group">
                    <label for="sellQuantity{{ upgrade.id }}">Enter Quantity to Sell:</label>
                    <input type="number" class="form-control" id="sellQuantity{{ upgrade.id }}" name="quantity" min="0" max="99">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Sell</button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}

{{ block.super }}


{% endblock %}
