<!-- fixed_panel.html -->
<script>

    function updatePrices(locationId) {
        //  request to update collectable prices for the selected location
        $.ajax({
            url: "{% url 'update_collectable_prices' %}?location_id=" + locationId,
            type: "GET",
            success: function(response) {
            },
            error: function(err) {
            }
        });
    }
    
    function exitGame() {
        // Perform actions to exit the game
        window.location.href = "{% url 'home' %}";
        
        // Clear session data for player funds and items from the backpack
        $.ajax({
            url: "{% url 'reset_session' %}",
            type: "GET",
            success: function(response) {
            },
            error: function(err) {
            }
        });
    }

</script>

<div class="fixed-panel">
    <h1 class="text-white text-center mt-5 p-4">Travel</h1>
    <ul class="location-list text-left p-4 text list-unstyled">
        {% for location in locations %}
            <li>
                <img src="{{ location.picture.url }}" alt="{{ location.name }}">
                <p>{{ location.name }}</p>
            </li>
        {% endfor %}
    </ul>
    <div class="text-center mb-1">
        <button class="btn-red btn-lg mt-5 text-right" onclick="exitGame()" class="btn btn-secondary btn-lg mt-4">Exit Game</button>
    </div>
</div>
