<script>
    function updatePrices() {
        //  request to update collectable prices
        $.ajax({
            url: "{% url 'update_collectable_prices' %}",
            type: "GET",
            success: function(response) {
                
            },
            error: function(xhr, errmsg, err) {
                // Optionally handle error
            }
        });
    }
</script>

<!-- HTML code -->
<div class="fixed-panel">
    <h1 class="text-white text-center mt-5 p-4">Travel</h1>
    <ul class="location-list text-left p-4 list-unstyled">
        <li><a href="{% url 'collectables' %}" onclick="updatePrices()"><i class="fas fa-industry fa-xl"></i><span class="location-text"> <p>Abandoned Factory</p></span></a></li>
        <li><a href="{% url 'collectables' %}" onclick="updatePrices()"><i class="fas fa-xmarks-lines fa-lg"></i><span class="location-text"> <p>The Outlands</p></span></a></li>
        <li><a href="{% url 'collectables' %}" onclick="updatePrices()"><i class="fas fa-fire fa-lg"></i><span class="location-text"> <p>Tyre Fire</p></span></a></li>
        <li><a href="{% url 'collectables' %}" onclick="updatePrices()"><i class="fas fa-water fa-lg"></i><span class="location-text"> <p>Boggy Marsh</p></span></a></li>
        <li><a href="{% url 'collectables' %}" onclick="updatePrices()"><i class="fas fa-city fa-lg"></i><span class="location-text"> <p>Decaying City</p></span></a></li>
    </ul>
</div>
