{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                <div class="content-box p-5 text-center">
                    <h1 class="display-4 logo-font mb-4 text-white">
                        End of Game
                    </h1>
                    <p class="lead text-white">Congratulations {{ user.username }}! You've reached the end of the game.</p>
                    <p class="lead text-white display-4">Your final score is: {{ final_score }}</p>
                    
                    <!-- Add form to submit score -->
                    <form method="post" action="{% url 'submit_score' %}">
                        {% csrf_token %}
                        <input type="hidden" name="score" value="{{ final_score }}" readonly>
                        <button type="submit" class="btn btn-primary">Submit Score</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
