{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
   <!-- <div class="overlay"></div> -->
    <div class="container-fluid">
        <div class="row justify-content-center"> <!-- Center the model viewer -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card box my-5">
                    <div class="image-container">
                        {% if collectable.glb_file %}
                            <model-viewer id="neutral-demo"
                                          src="{{ collectable.glb_file.url }}"
                                          alt="Hammer"
                                          camera-controls
                                          auto-rotate
                                          style="width: 100%; height: 400px;" 
                            </model-viewer> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card box product-details-container mb-5 mt-md-5">
                    <div class="card-body">
                        <p class="card-title mb-0">{{ collectable.name }}</p>
                        <p class="lead mb-0 font-weight-bold">${{ collectable.price }}</p>
                        <p class="card-text mt-3">{{ collectable.description }}</p>
                        <form class="form" action="{% url 'add_to_backpack' collectable.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn-red rounded-0" 
                                                    data-item_id="{{ collectable.id }}" id="decrement-qty_{{ collectable.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ collectable.id }}"
                                                id="id_qty_{{ collectable.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-red rounded-0"
                                                    data-item_id="{{ collectable.id }}" id="increment-qty_{{ collectable.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <a href="{% url 'collectables' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Trading</span>
                                    </a>
                                    <input type="submit" class="btn btn-red rounded-0 text-uppercase mt-5" value="Buy">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
   
{% endblock %}
