{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card box my-5">
                <div class="image-container">
                    {% if collectable.glb_file %}
                        <model-viewer id="neutral-demo"
                                      src="{{ collectable.glb_file.url }}"
                                      alt="Hammer"
                                      camera-controls
                                      auto-rotate
                                      style="width: 100%; height: 400px;" 
                        </model-viewer> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card box product-details-container mb-5 mt-md-5">
                <div class="card-body">
                    <p class="card-title mb-0">{{ collectable.name }}</p>
                    <p class="lead mb-0 font-weight-bold">${{ collectable.price }}</p>
                    <p class="card-text mt-3">{{ collectable.description }}</p>
                    <p>Quantity in Backpack: {{ collectable.quantity_in_backpack }}</p>  <!-- Display quantity from backpack -->
                    <p>Total Value in Backpack: ${{ collectable.total_value_in_backpack }}</p>  <!-- Display value from backpack -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buyModal{{ collectable.id }}">
                        Buy
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sellModal{{ collectable.id }}">
                        Sell
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buy Modal -->
<div class="modal fade" id="buyModal{{ collectable.id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel{{ collectable.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyModalLabel{{ item.item_id }}">Buy {{ item.collectable.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-form" method="POST" action="{% url 'add_to_backpack' collectable.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Owned: {{ item.quantity }}</p>
                    <div class="form-group">
                        <label for="buyQuantity{{ item.item_id }}">Enter Quantity to Buy:</label>
                        <input type="number" class="form-control" id="buyQuantity{{ item.item_id }}" name="quantity" min="0" max="99">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Buy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Sell Modal -->
<div class="modal fade" id="sellModal{{ collectable.id }}" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel{{ collectable.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="sellModalLabel{{ item.item_id }}">Sell {{ item.collectable.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="modal-form" method="POST" action="{% url 'sell_item' collectable.id %}">
            {% csrf_token %}
            <div class="modal-body">
                <p>Owned: {{ item.quantity }}</p>
                <div class="form-group">
                    <label for="sellQuantity{{ item.item_id }}">Enter Quantity to Sell:</label>
                    <input type="number" class="form-control" id="sellQuantity{{ item.item_id }}" name="quantity" min="0" max="{{ item.quantity }}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Sell</button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}

{{ block.super }}


{% endblock %}


